.logo{
    color: black;
}
.logo span {
    color:#2196F3 ;
}    
.header_link {
list-style-type: none;

}
.header_link a {
text-decoration: none;
color: #212121;
}
.header_link a:hover {
   color: #2196F3;
}
.menu_contact a {
text-decoration: none;
color: #757575
}
.menu_contact a:hover{
    color: #2196F3
}
.title {
    color: #FFFFFF
}
.follow_the_link {
    color: #FFFFFF
}
.promo{
background-color:#2F303A ;
}
button {
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.list {
list-style-type : none;
color: #212121
}
.information{
    color: #757575
}
.type_of_work{
    color: #212121;
}
.team{
    color: #212121;
}
.name{
    color: #212121;
}
.name_work{
    color: #757575;
}
.adress {
 color:  #FFFFFF;
}
