.container {
  width: 1140px;
  margin: 0 auto;
}

.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  justify-content: space-between;
  width: 519px;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: black;
}

.logo span {
  color: #2196f3;
}

.menu_links {
  display: flex;
  width: 281px;
  justify-content: space-between;
}
.header_link {
  list-style-type: none;
  display: flex;
  width: 281px;
  text-decoration: none;
}

.header-link {
  width: 307px;
  justify-content: space-between;
  display: flex;
}
.header-link a {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link a:hover {
  color: #2196f3;
}
.inf {
  text-decoration: none;
}
.header_link a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header_link a:hover {
  color: #2196f3;
}

.title {
  color: #ffffff;
}

.promo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  /* or 136% */
  letter-spacing: 0.06em;
}
.promo {
  background-color: #2f303a;
  padding: 200px 0 200px 0;
}

.follow_the_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.list {
  list-style-type: none;
  color: #212121;
}

.information {
  color: #757575;
}

.type-of-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  color: #212121;
}

.name_work {
  color: #757575;
}
.adress {
  color: #ffffff;
}

.footer-list {
  list-style-type: none;
  text-decoration: none;
}

.h5list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.list{
display: flex;
  justify-content: space-around;
}
.type-of-work{
display: flex;
justify-content: space-around;
}
.imga{
  display: flex;
  justify-content:space-between;
  list-style-type: none;
}
img{
width: 370px;
height:294px ;

}

.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.members {
  list-style-type: none;
}
.team_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.member {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.footer {
  height: 252px;
  background-color: #2f303a;
}

.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo2 span {
  color: #2196f3;
}

.footer-list a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #ffffff;
}
