.container {
  width: 1140px;
  margin: 0 auto;
}

.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  justify-content: space-between;
  width: 519px;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: black;
}

.logo span {
  color: #2196f3;
}

.menu_links {
  display: flex;
  width: 281px;
  justify-content: space-between;
  font-size: 14px;
}
.header_link {
  list-style-type: none;
  display: flex;
  width: 281px;
  text-decoration: none;
  font-size: 1em;
}

.header-link {
  width: 307px;
  justify-content: space-between;
  display: flex;

}
.header-link a {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-size: 14px;
}

.header-link a:hover {
  color: #2196f3;
}
.inf {
  text-decoration: none;
  font-size: 1em;
}
.header_link a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header_link a:hover {
  color: #2196f3;
}

.title {
  color: #ffffff;
}

.promo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  /* or 136% */
  letter-spacing: 0.06em;
}
.promo {
  background-color: #2f303a;
  padding: 200px 0 200px 0;
}

.follow_the_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

.list {
  list-style-type: none;
  color: #212121;
}

.information {
  color: #757575;
}

.type-of-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  color: #212121;
}

.name_work {
  color: #757575;
}
.adress {
  color: #ffffff;
}

.footer-list {
  list-style-type: none;
  text-decoration: none;
}

.h5list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0;
  margin: auto;
  width: 1170px;
}
.about {
  margin: 94px auto;
  padding: 90px 0;
}

.work {
  width: 1170px;
  margin: 0 auto;
}
.img2 {
  border-style: none;
}

.type-of-work {
  display: flex;
  justify-content: space-around;
}
.imga {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}
.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.members {
  list-style-type: none;
  width: 1170px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.team_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team {
  background-color: #f5f4fa;
  padding: 94px 0;
  margin: 0;
}
.team-card {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo2 span {
  color: #2196f3;
}

.footer-list a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.img {
  width: 270px;
}
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
hr {
  border: 1px solid #ececec;
}
